.unsichtbar, #hilfsmenu, #usermenu2, #outerslide, #left, #breadcrumbs, #fussinnen .list, .linkbutton, .boxlinkbutton
   {
   display:none;
   visibility:hidden;
   }

* {color:black;background-color:white}

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 100.01%;
   border:0;
   width:100%;
   }

.logo {
   float:left;
   margin-left:12px;
}

.kennung {
   float:right;
}

#content {clear:both}

a {
   text-decoration: none;
   }

.question {
   font-size: 1.2em;
   }
   
.answer {
    display:block!important;
}