
/* ##################   responsive 768 ###################### */

@media screen and (max-width: 768px) {

.logo {
/*   padding-left:10px;*/
}

.kennung {
   float:right;
   display: none;
}

#kopf_innen > img {
   width:200px;
   margin-top:5px;
}

#hilfsmenu {
   clear:both;
   float:right;
   padding-right:5px;
   padding-bottom: 5px;
}

#hilfsmenu ul{
	list-style:none;
	padding:0 0 5px 0;
	font-size:0.8em;
}

#hilfsmenu ul li{
   float:left;
}

#hilfsmenu ul li img{
   position:relative;
   top:2px;
   padding-left:5px;
   padding-right:5px;
   border:none;
   border-left:1px solid #ddd;
}

#hilfsmenu ul li.first img{
   border:none;
}

#hilfsmenu ul li a, #hilfsmenu ul li a:visited {
   padding:0 5px 0 0px;
}
#usermenu2 ul#oben,
ul.userlistentrysub li a {
   border-radius: 0;
   width: 100%;
}



#usermenu2 ul#oben:after {
   display:none;
}

#usermenu2 ul#oben:before {
   display:none;
}


 #usermenu2 ul#oben li {display:block;float:none; margin:0}

    #usermenu2 ul#oben li a:after
    {float:right}

#usermenu2 ul#oben > li > a, #usermenu2 ul#oben > li > a:visited {
   display:block;
   padding:10px;
   font-size: 1em;
    border-bottom:solid 1px #2279BD;
    float:none;
    border-radius:0;
    margin:0
}

.userlistentrysub {
   position: relative;
   width:100%;
   max-width:100%;

   background:#2279BD;
   left:0 !important;
    padding:0;
   border-radius:0;
   margin:0;
    border:0
}

    .userlistentrysub li {padding:0 !important;}

ul.userlistentrysub li a {
    padding:10px 20px;
    margin:0 !important

}

ul#oben li:hover .userlistentrysub, ul#oben li:active  .userlistentrysub { left:15px;}

.text {width: 100%}

input {
   width:80%;
   margin-top:6px;
}

p.suchfeld img {
   margin-top: 6px;
}

.kasten, .kasten1 {
   clear:both;
}

.line {
   margin:0;
   padding:0;
}

._50, ._100, ._50_, ._100_, _50__, _100__ {
   width:100%;
   margin-top:10px;
}

    #main1, #main2, #pm
    {height:auto; min-height:10px; margin-top:20px}

    #left, #right {
        padding-top: 0;
        width: auto;
        float: none
    }

    #right
{background:#fff; padding:20px 2%; width:96%}

    #left {
        margin: -15px
    }

    #left a {
        border-radius: 0 !important
    }

    #left ul {
        margin: 15px 0
    }

    #left ul a.bereich {
        display: none
    }

    #left ul li a {
        padding: 15px 10px 15px 20px !important;
        font-size:1.1em

    }
    #left ul li ul li a
    {    padding: 15px 10px 15px 50px !important;}

    #left ul li ul li ul li a
    {    padding: 15px 10px 15px 60px !important;}
    #left ul li ul li ul li ul li a
    {    padding: 15px 10px 15px 80px !important;}


    #main1, #main2, #main3 {
   padding: 20px;
   width:auto;
   float:none;
   clear: both;
   box-sizing: border-box;
}

.kasten, .kasten1 {
   width: 91%;margin-right:0
}

.kasten p, .kasten li, .kasten1 p, .kasten1 li {
   width:90%;
}

.footerlistentry, .footerlistentry1 {
   width:100%
}

.footerlistentrysub {
   display:none
}

    #info {
        padding: 0
    }

    #slidetext {
        /*width:auto;*/
        float: none;
        clear: left;
        padding: 10px
    }

    .text {
        float: none;
        width: 90%;
        position: relative;
        height: auto
    }

    .float_img {
        display: none
    }

    #outerslide {
        border: solid 0px !important;
        padding: 0 10px
    }

    /* #innerslide  img {display:none} */
    #innerslide {
        padding: 20px;
        margin: 0px;
        border-radius: 5px
    }

    ul#oben {
        display: block;
    }

    #usermenu {
        border: 0;
        height: auto
    }

    #outerslide {
        padding: 10px !important;
    }

    p.suchfeld {
        float: none;
        background: #999;
        margin: 0;
        padding: 0px;
        text-align: center;
        display: block;
        width: auto;
        /*display: none*/
    }

    #content {
        width: auto;
        border-radius: 0;
    }

    #footer .list {
        float: none;
        width: auto
    }

    .slidelinks {
        clear: both;
        margin: -15px 0px 20px 40px;
        width: 90%;
        float: left
    }

    #slider1 {
        width: 95%;
    }

    #slider1 .text {
        padding: 0;
        left: 0;
    }

    .anythingSlider-default .anythingControls ul {
        padding: 0;
        float: left;
    }

    .line {
        display: block
    }

    .anythingWindow {
        padding: 0 20px
    }

    .light {
        margin-top: 0;
        padding:0 5px !important;
        background:none !important
    }

    a.navi {
        background: #002142;
        color: #fff;
        padding: 0px 10px;
        margin: -15px -10px 0 -10px;
        text-align: right;
        display: block;
        text-decoration: none;
    }

    a.navi span {
        position: absolute;
        left: -4000px;
        top: -4000px
    }

    a.navi:before {
        content: "â‰¡";
        font-size: 2em
    }

    #left {
        display: none
    }

    #content {
    }

    ul#oben li a.back:hover {
        border-radius: 0 !important
    }

    ul#oben li a.back,
    ul#oben li.bereich {
        float: left !important;
        display: inline;
        line-height: 1.0em !important;
        padding: 15px 10px 15px 30px !important;
        margin: 0 !important;
        border: 0 !important;

    }

    ul#oben li a.back {
        text-decoration: underline !important;
        display: none !important;
        border: solid 1px #ccc
    }

    #breadcrumbs {
        display: none
    }

    img {
        -moz-box-sizing: border-box;
        box-sizing: border-box; /* 1 */
        max-width: 100%; /* 2 */
        height: auto; /* 2 */
        vertical-align: middle; /* 3 */
    }

    #fussinnen {
        padding: 0
    }

    #fussinnen .list {
        float: none;
        margin-bottom: 20px;
        overflow: hidden
    }

    #fussinnen .list ul.answer1 {
        text-align: center
    }

    #fussinnen ul.answer1 a {
        padding: 10px
    }

    #hilfsmenu {
        margin-top: 20px
    }

    #hilfsmenu img {
        display: none
    }

    #hilfsmenu li {
        border-right: solid 1px;
        padding: 0 0 0 10px
    }

    #fuss .list h3 {
        margin-top: -10px
    }

    .breit {padding:0}
}