/**
 * @file
 * Module specific style sheets.
 */

html {
}

body.overlayed {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#page-overlay {
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
    cursor: pointer;
}

#page-overlay-wrapper {
    display: none;
    position: static;
    margin: 50px auto;
    width: 80%;
    height: auto;
}

#page-overlay-close {
    float: right;
    margin: -25px 0 0 0;
    color: #aaa;
}

#page-overlay-close.highlight {
    color: #fff;
}

#page-overlay-body {
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 6px #444;
    -moz-border-radius: 15px;
    -moz-box-shadow: 3px 3px 5px 6px #444;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 3px 3px 5px 6px #444;
    text-align: justify;
    cursor: auto;
}

a#goto-top {
    display: block;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    text-align: right;
    text-decoration: none !important;
    color: #aaa !important;
}

a#goto-top:hover,
a#goto-top:focus {
    background-color: #fff;
    text-decoration: underline !important;
    color: #aaa !important;
}

#content {
    overflow: inherit;
}

#content ul.action-links {
    /* Workaround for IE versions that do not support fixed positioning. */
    position: absolute;
    position: fixed;
    top: 30px;
    right: 0;
    display: block;
    margin: 10px;
    padding: 0;
    z-index: 10;
    list-style-type: none;
}

#content ul.action-links > li {
    margin: 0;
    padding: 0;
    width: auto;
}

#content ul.action-links > li > a {
    display: inline-block;
    width: auto;
    padding: 3px 10px;
}

#content figure,
#right figure,
#content figure.left,
#right figure.left {
    margin: 0 15px 15px 0 !important;
}

body.front #content figure,
#content figure.center,
#right figure.center {
    margin: 0 0 15px 0 !important;
}

#content figure.right,
#right figure.right {
    margin: 0 0 15px 15px !important;
}

figure > figcaption {
    margin-top: 5px;
    line-height: 1em;
}

#herausgeber > a {
    float: left;
    display: block;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
}
#herausgeber > a:nth-of-type(2n-1) {
    float: right;
}
#herausgeber > p:before {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}

small.result-count:before {
    padding-left: 10px;
    visibility: hidden;
    content: '.';
}
small.result-count {
    display: inline-block;
    font-size: 0.7em;
    color: #777;
}

.articlepreview .links span.rating {
    padding: 5px 10px 5px 0;
}

.rating > .fa.fa-star {
    color: #34519a;
}
.rating > .fa.fa-star.empty {
    color: #c2cbe1;
}

.edutags-logo {
    width: 120px;
    height: auto;
}

.pagination > ul {
    text-align: center;
}

.filtermenu label {
    font-weight: bold;
    font-size: 1.1em;
}
.filter-value {
    display: inline-block;
    max-width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.filter-count {
    float: right;
}

.accordioncontent span {
    max-width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.alertify-log:after {
	content: "x";
	position: absolute;
	top: 1px;
	right: 6px;
	cursor: pointer;
}
