
body {
	padding-bottom: 0;
}

a {
	outline: none!important;
}

h4.border {
	color: #1E579A;
	padding-bottom: 7px;
	border-bottom: 1px solid #999;
}

.kastenimg {
	margin: 20px;
}


#mediafilter {
	background-color: #eee;
	min-width: 200px;
	height: 50px;
	float: left;
	margin: 0 auto;
}

.container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 991px) {
	#left {
		display: none;
	}
}


/* Search Box */


@media (max-width: 420px) {
#search-box.no-front #search-logo-container img {
    height: 60px;
    width: auto;
	}
}

#search-input {
	color: #333;
}

#search-input-container, #search-button-container {
	z-index: 10;
	position: relative;
}

#search-box {
    max-width: 778px; 
}

#search-box .col {
    width: 100%;
}

.search-box-filter {
	position: relative;
	z-index: 5;
}

.search-box-filter > ul {
	padding-left: 0;
}

.search-box-filter-item {
    display: inline-block;
    width: 49.6%;
}

.search-box-filter-item  .dropdown-menu {
	margin-top: 0;
	border: none;
	width: inherit;
	padding: 10px 0;
}

.search-box-filter-item > a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-color: #5ea2dc;
    color: #89b9e3;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    position: relative;
    background: transparent;
}

@media (max-width: 768px) {
	#search-box #search-logo-container {
		text-align: center;
		width: 100%;
		margin-bottom: 15px;
	}
	.search-box-filter-item {
		width: 100%;
	}
	.search-box-filter-item > a {
		font-size: 13px;
		border-top-width: 1px;
		border-radius: 5px;
		margin-top: 5px;
	}
}


ul.dropdown-menu {
    position: absolute;
    width: 33%;
    top: inherit;
    left: inherit; 
    border-radius: 10px 0 0 10px;
	background: #dfe7f1;
}

.dropdown-menu li {
	display: block;
}

.search-box-filter > a:after {
	content: "\f0d8";
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
}

.search-box-filter-item.open > a {
	background: #B7D2F0;
    border-radius: 10px 0 0 10px;
    color: black;
    font-weight: bold;
}

.search-box-filter-item > a:after {
	content: "\f0d8";
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
}

.search-box-filter-item.open > a:after {
	content: "\f0d7";
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
}

#search-box .subrow {
    max-width: 598px;
}

.dropdown-menu>li>a {
    display: block;
	padding: 5px 10px;
}

@media (max-width: 768px) {
	ul.dropdown-menu	{
		width: 100%;
		border-radius: 5px;
	}
	.search-box-filter-item.open > a {
		border-radius: 5px;
	}
}

#content {
	line-height: 1.42857143;
}

.main-content {
	background: #fff;
	height: auto;
	padding: 30px;
	border-radius: 5px;
	font-size: 0.9em;
}

.articlepreview {
	border-bottom: 1px #d2d8e9 solid;
	margin-bottom: 20px;
}

.articlepreview a {
	color: #3a569d;
}

.articlepreview.row {
	margin-left: 0!important;
	margin-right: 0!important;
}

.articlepreview h2 {
	color: #3a569d;
    margin: 0 0 15px 0;
    font-size: 14px;
}

.articlepreview .links {
	text-align: right;
	margin-bottom: 10px;
	white-space: nowrap;
	display: inline-block;
}

.articlepreview .links a {
	padding: 5px 10px 5px 0;
}

.articlepreview a.rating:hover {
	text-decoration: none;
}

.articlepreview h3 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 5px;
}

.articlepreview .thumbnailcontainer {
	position: relative;
}

.articlepreview .thumbnailcontainer p, .articlepreview .ressource_type {
	color: #888;
	padding-top: 10px;
	font-size: 11px;
}

.articlepreview .thumbnailcontainer img {
	 
    padding-top: 30px;
}

.ccicon {
	position: absolute;
	width: 20px;
	right: 20px;
	bottom: 10px;
	left: 0;
	padding: 0!important;
}

@media (max-width: 420px) {
	.articlepreview .links {
		display: none;
	}
	.articlepreview h3 {
    margin: 0px 0 10px 0;
}
	.articlepreview .thumbnailcontainer img {
		padding-top: 0;
		width: 100%;
	}
	
}

.articlepreview .expand {
	text-align: right;
}

.articlepreview .expand > a {
	text-decoration: none;
}

.articlepreview .expand > a:after {
	content: "\f077";
	font-family: 'FontAwesome';
	padding-left: 10px;
}

a.btn.btn-primary {
	color: #000;
	font-weight: 700;
	background-color: #f2f4f6;
	padding: 5px 10px;
	border-radius: 5px 5px 0 0;
	display: inline-block;
}

.articlepreview .expand > a.btn.btn-primary.collapsed:after {
	content: "\f078";
	font-family: 'FontAwesome';
	padding-left: 10px;
}

.articlepreview .metainfo i {
	padding: 0 5px 0 0;
}

.articlepreview .metainfo span {
	padding: 0 10px 0 0;
}

.articlepreview .metainfo {
	padding: 0 0 15px 0 ;
	margin: 0;
}

.articlepreview .metainfo span:before {
	padding: 0 5px 0 0;
}

.searchresult {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f2f4f6;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	text-align: left;
}

.accordioncontent {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 0;
	background-color: #f2f4f6;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-align: left;
}

.searchresult-header {
    border-bottom: 1px #d2d8e9 solid;
    margin-bottom: 10px;
}

.searchresult-header h3 {
	font-weight: normal;
}

.searchresult-header span {
	padding-left: 10px;
}

.searchresult-header span.keyword {
	padding-left: 0;
	font-weight: bold;
}

.filterreset {
	white-space:nowrap;
}

.searchterms a, .accordioncontent a,.accordioncontent span, .filter-title a {
	color: #000;
	background: #B7D2F0;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 0 10px 10px 0;
	display: inline-block;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

.searchterms a {
	font-weight: bold;
}

.searchterms a:after, .filter-title a:after {
	content: "\f00d";
	font-family: "FontAwesome";
	padding-left: 10px;
	font-weight: normal;
}

.searchterms a:hover, .accordioncontent a:hover {
	background: #3a569d;
	color: #fff;
}

.pagination ul {
	margin: 0;
	padding: 0;
}

.pagination li {
	display: inline-block;
}

.pagination li a {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #d2d8e9;
	text-align: center;
	font-size: 13px;
	line-height: 28px;
}

.pagination li a:hover {
	text-decoration: none;
	background: #f1f4f7;
}

.pagination li.active  {
	width: 30px;
	height: 30px;
	font-size: 13px;
	line-height: 28px;
	border: 1px solid #d2d8e9;
	text-align: center;
	margin: 0;
	padding: 0;
	background: #f1f4f7;
}

/* Accordion Menu */


.filtermenu {
	padding-right: 0;
	padding-left: 45px;
	font-size: 0.8em;
}

.filtermenu ul {
	padding: 0;
}

.accordion {
	margin: 30px 0;
	position: relative;
}

.accordion-group {
	margin: 5px 0;
}

a.accordion-toggle {
    background: #B7D2F0;
    box-shadow: none;
    text-decoration: none;
    display: block;
    padding: 5px 25px 5px 10px;
    border-radius: 10px 0 0 10px;
    color: black;
    border-bottom: none;
    font-weight: bold;
    }

.accordion-heading {
	box-shadow: none;
}

.accordion-heading a.accordion-toggle:hover,
.accordion-inner li a:hover {
	text-decoration: underline;
}

a.accordion-toggle.collapsed {
	border-bottom: 1px #d2d8e9 solid;
	background: none;
	border-radius: 0;
	transition: all 300ms ease-in-out;
	font-weight: normal;
}



a.accordion-toggle.collapsed:after {
	content: "\f0d7";
	font-family: 'FontAwesome';
	color: black;
	position: absolute;
	right: 15px;
	vertical-align: middle;
}

a.accordion-toggle:after {
	content: "\f0d8";
	font-family: 'FontAwesome';
	color: black;
	font-weight: lighter;
	position: absolute;
	right: 15px;
	vertical-align: middle;
	transition: all 300ms ease-in-out;
}



.accordion-inner {
	padding: 5px 25px 5px 10px;
	background: #dfe7f1;
	border-radius: 10px 0 0 10px;
	
}

.accordion-inner ul {
	position: relative;
}

.accordion-inner a.accordion-toggle {
	border-radius: 10px 10px 10px 10px;
}

.accordion-inner .accordion-inner {
	padding: 5px 0 5px 10px;
}


.filtermenu.kompetenz ul  {
	list-style: none;
	}

.filtermenu.kompetenz a {
	color: #333;
    text-decoration: none;
    display: block;
    font-weight: normal;
    padding: 10px 25px 5px 10px;
    border-bottom: 4px #BECDD8;
    box-shadow: 4px 1px 0px #BECDD8;
    border-radius: 10px 0 0px 10px;
	}

.filtermenu.kompetenz a:hover {
	    background: #D7E6F7;
}

.filtermenu.kompetenz a.active {
	    background: #B7D2F0	;
}


.filtermenu.kompetenz a:hover:before {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #2f2f2f;
    content: "";
    margin-right: -14px;
}

.kompetenz a {
	transition: none;	 
}

.kompetenz .accordion-toggle {
	border-radius: 10px;
}

.kompetenz #kompetenz1_1more a:hover {
	border-radius: 0;
}


.kompetenzwrapper .teilkompetenz{
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
}

.kompetenzwrapper .kompetenz .accordion-inner {
	padding: 10px;
}

.kompetenzwrapper .kompetenz .accordion-inner > ul {
	margin: 0;
}

.kompetenzwrapper .kompetenz .teilkompetenz .morebutton {
	position: relative;
	padding-right: 30px;
}

.kompetenzwrapper .kompetenz .teilkompetenz .morebutton.collapsed:after {
	content: "\f0d8";
	font-family: 'FontAwesome';
	color: black;
	position: absolute;
	vertical-align: middle;
	padding: 0 10px;
}

.kompetenzwrapper .kompetenz .teilkompetenz .more .last a {
	background: none;
	color: #1E579A;
	display: inline;
	padding: 0;
	text-decoration: underline;
}

.kompetenzwrapper .kompetenz .teilkompetenz .more .last a:hover {
	text-decoration: none;
}


.kompetenzwrapper .kompetenz .teilkompetenz .morebutton:after {
	content: "\f0d7";
	font-family: 'FontAwesome';
	color: black;
	font-weight: lighter;
	position: absolute;
	vertical-align: middle;
	transition: all 300ms ease-in-out;
	padding: 0 10px;
}

.kompetenzwrapper .kompetenz .teilkompetenz .more .btn:hover {
	border-radius: 0px;
	text-decoration: none;
}

.kompetenzwrapper .kompetenz .teilkompetenz .more .btn {
	text-decoration: underline;
	display: block;
	min-height: 35px;
}


.kompetenzwrapper .kompetenz .teilkompetenz .more img {
    float: left;
    padding: 0px 10px 0 0;
}

.kompetenzwrapper a {
	display: block;
}

 .kompetenzwrapper .morebutton {
	display: inline-block;
}
.accordion-inner ul {
	padding-left: 0;
	list-style: none;
}

 .kompetenz#accordion .more  {
	 display: inline-block;
 }
 
.accordion-inner a {
	text-decoration: none;
	color: black;
	display: block;
}

.accordion-inner a:visited:hover:after {
	content: "\f00d";
	font-family: "FontAwesome";
	position: absolute;
	vertical-align: middle;
	right: 15px;
}

@media (max-width: 768px) {
	.filtermenu {
		display: none;
	}
}

/* Media Select */



ul.mediaselect {
	padding: 0;
	list-style: none;
	position: absolute;
    margin: -41px 0 0 183px;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
}

ul.mediaselect li {
	display: inline-block;
	height: 36px;
	line-height: 36px;
}

ul.mediaselect a {
	padding: 0 20px;
	display: inline-block;
	position: relative;
	height: 36px;
	line-height: 36px;
	color: white;
}


ul.mediaselect li.active a {
	background: #f2f4f6;
	font-weight: bold;
	padding: 0;
	color: black;
	text-decoration: none;
}

ul.mediaselect li.active:after {
	background: url(../img/mediaselect-active.png) 0 0 no-repeat;
	content: "";
    display: block;
    height: 36px;
    margin: 0 0 0 0;
    width: 54px;
    float: right;
}

ul.mediaselect li.active:before {
	background: url(../img/mediaselect-active.png) 0 -36px no-repeat;	
	content: "";
    display: block;
    height: 36px;
    margin: 0 0 0 0;
    width: 54px;
    float: left;
}

#outerslide {
	border-bottom: solid 5px #f2f4f6;
}

@media (max-width: 768px) {
	#outerslide {
		background: #2279bd;
	}
	#rahmen {
		box-shadow: none;
	}
	ul.mediaselect {
		margin-left: 8%;
		margin-right: 8%;
		margin-top: -35px;
		width: 84%;
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.mediaselect_wrapper {
		position: relative;
	}
	.mediaselect_wrapper .shadow_left {
		position: absolute;
		left:10px;
		height: 40px;
		width: 50px;
		background: url(../img/bluegradient_left.png) left repeat-y;
		margin-top: -40px;
		z-index: 1;
	}
	.mediaselect_wrapper .shadow_right {
		position: absolute;
		right:10px;
		height: 40px;
		width: 50px;
		background: url(../img/bluegradient_right.png) left repeat-y;
		margin-top: -40px;
		z-index: 1;
	}
	ul.mediaselect li.active:after, ul.mediaselect li.active:before {
		content: none;
	}
	ul.mediaselect li a {
		display: inline-block;
		padding: 0 20px;
		border-radius: 10px 10px 0 0;
	}
	ul.mediaselect li.active a {
		padding: 0 20px;
	}
	nav#siteNavigation, #hilfsmenu {
    display: none;
	}
	#search-box .subrow {
    max-width: 100%;
	}
	#search-box .row {
    margin: 0!important;
    }
    
}

/* MOBILE MENU */

@media (min-width: 769px) {
	#mmenu-opener, #mobilemenu {
		display: none;
	}
	.logo_mobile {
		display: none;
	}
}
 
@media (max-width: 768px) {
.logo, .logo_mobile {
	padding: 10px 0;
	margin: 0;
	float: none;
}
#kopf_inhalt > a > img {
	margin: 0 0 0 15px;
}
a#mmenu-opener {
	text-decoration: none;
	position: absolute;
	display: inline-block;
	right: 15px;
	top: 13px;
	font-size: 25px;
	color: #005f97;
	}
a#mmenu-opener:hover {
	text-decoration: none;
}
.logo {
	display: none;
}
}

.logo_mobile {
	width: 30px;
}

nav#mobilemenu {
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
	background: #1E579A;
	color: white;
}

.mm-navbar {
    background: #00a3de;
    padding: 0 35px;
    height: 60px;
    
}

.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a {
    color: white;
    font-weight: bold;
}

.mm-listview > li {
	border: #00a3de;
}

.mm-title {
	text-align: left;
	padding-top: 30px;
}

.mm-listview > li > a, .mm-listview > li > span {
	padding: 10px 10px 10px 35px;	
}

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
	margin-top: 0;
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {
	font-weight: bold;
	background: #1E579A;
}

a.mm-close.mm-btn {
    display: block;
    position: relative;
}

.mm-navbar .mm-btn:first-child {
    padding-left: 0;
}

.mm-close:after {
	content: 'Schliessen';
    width: 216px;
    border: 1px #00a3de solid!important;
    border-radius: 5px;
    display: block;   
    padding: 10px 0;
    margin: 0 auto;
}

.mm-navbar .mm-btn:last-child {
    text-align: center;
    padding-right: 0;
}

.mm-navbar.mm-navbar-bottom.mm-navbar-bottom-1.mm-navbar-size-1.mm-hasbtns {
    border: none;
    padding: 0 20px;
}

.slick-slide {
	padding: 5px 0 15px 0;
}

.slick-slide img {
   display: inline-block;
}

.slick-slide.slick-current.slick-active {
    background: #00a3de;
    border-radius: 5px 5px 0 0;
}

/* Mobile Filter */

#filter-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Klaus: adjust z-index, if necessary: */
    z-index: 25;
    box-shadow: 0px 0px 5px black;
}

@media (min-width: 769px) {
    #filter-menu {
        display: none;
    }
    
}

.userlistentrysub {
	display: none;
	visibility: hidden;
}

.filter-accordion.ui-accordion.ui-widget.ui-helper-reset {
    padding: 15px;
}

#filter-menu .filter-title {
    background-color: #1E579A;
    color: white;
    padding: 15px 10px 0px 10px;
    font-weight: bold;
    height: 53px;
    border-bottom: 1px #1a4371 solid;
}


#filter-menu .filter-body {
    background-color: white;
    overflow-y: scroll;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    /* height is taken if available, max height is set to available height by javascript: */
    /* If height is omitted, filter menu will resize on accordion change */
    height: 300px;
}

#filter-menu .filter-content
	{
    display:none;
}

#filter-menu .ui-accordion-content {
    background: #dee7f0;
    padding: 15px 15px 5px 15px;
}

.filter-selectList {
	margin: 0;
	padding-left: 0;
}

.filter-selectList li.active {
    text-decoration: underline;
}
.filter-selectList li {
    cursor: pointer;

}
.filter-selectList {
    list-style: inside none;
}

#filter-menu .ui-accordion-content li:hover, #filter-menu s.ui-accordion-content li:focus {
	background: #3a569d;
	color: white;
}

#filter-menu .ui-accordion-content li { 
	background:#B7D2F0;
	padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-weight: bold;
    font-size: 0.9em;
}

#filter-menu .filter-footer {
    background: #1E579A;
    padding: 15px 20px;
    height: 5rem;
    border-top: 1px #1a4371 solid;
}
    

#filter-menu .filter-footer button {
    width: 49%;
    display: inline-block;
    background: transparent;
    border: 2px #00a3de solid;
    color: white;
    border-radius: 5px;
    padding: 8px 5px;
    font-weight: bold;
}

@media (max-width: 420px) {
	#fuss {
		margin-bottom: 53px;
	}
	.lehrplankompass #fuss {
		margin: 0px!important;
	}
	#info p {
		margin: 0;
	}
}

#fuss .extern li ,#fuss .extern li a{
		padding: 20px 10px!important;
	}
	
	#fuss .extern li a{
		display: inline-block;
	}
	.extern li.last {
    padding: 20px 10px!important;
	}


.mm-menu > .mm-navbar > a {
	white-space:nowrap;
}

/* UI DATEPICKER */

.ui-datepicker {
    width: 100%;
    padding: 0;
    }

.ui-accordion .ui-accordion-content {
    padding: 0;
    }
.ui-datepicker .ui-datepicker-header, .ui-state-default, .ui-widget-content .ui-state-default {
	background: #dee7f0;
	color: black;
	border: none;
}    

span.ui-icon.ui-icon-circle-triangle-e:after {
    content: ''
}

.ui-accordion-header-active {
	background: #b5d3ef;
}

.ui-datepicker tbody {
    border-top: none;
}

.ui-widget-content {
    border: none;
    background: none;
    color: #362b36;
}

.ui-widget-content .ui-state-default {
	font-weight: normal;
	text-align: center;
}

.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-active.ui-state-hover {
	background: #b5d3ef;
}

.ui-widget-content .ui-datepicker-current-day a.ui-state-default {
	font-weight: bold;
}

.ui-datepicker-calendar {
	border: none;
}

.ui-datepicker td a {
	padding: 5px 0;
}

.ui-datepicker table {
	font-size: inherit;
}

.ui-datepicker-calendar thead {
	display: none;
	visibility: hidden;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    border-radius: 0!important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled{
    opacity: 0.5 !important;
    background: #dee7f0;
}

.ui-datepicker tr:hover th,
.ui-datepicker tr:hover td {
    background: #dfe7f1;
}

/* slick styles*/ 
#mm-slick-slider {
    margin: 0 25px;
}
#mm-slick-slider img {
    height: 30px;
}

#mm-slick-slider div {
    margin: 0px 5px;
}

.slick-prev:before, .slick-next:before {
	font-family: 'FontAwesome';
}

.slick-next:before {
    content: '\f0da';
    }

.slick-prev:before {
	content: '\f0d9';
}

button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
    background: #00a3de;
    width: 30px;
    height: 25px;
}

button.slick-next.slick-arrow {
	border-radius: 5px 0 0 5px;
}

button.slick-prev.slick-arrow {
	border-radius: 0 5px 5px 0;
}







#tree {
	display: table;
	position:relative;
}
#tree ul, #tree ul ul {
	margin: 0px;
	padding: 0px;
	width: 755px;
}
#tree ul ul ul {
	margin: 0px;
	padding: 0px;
	width: 745px;
}
#tree ul ul, #tree ul ul ul {
	position:absolute;
	left:0px;
	margin-top: 10px;
	overflow: visible;
}
#tree ul ul, #tree ul ul ul {
	display:none;
	float: left;
}
#tree ul ul ul {
	background-color:#f1f4f6;
	margin-top:10px;
}
#tree ul ul ul ul {
	width: 360px;
}
#tree ul li {
	padding: 0px;
	margin: 0px;
	float: left;
	list-style-type: none;
	display: block;
	text-align: center;
	width: 151px;
}
#tree ul li ul li {
	float: left;
	list-style-type: none;
	display: block;
	text-align: left;
	width: 188px;
}
#tree ul li ul li ul li {
	width: 352px;
	margin: 0px;
	padding: 10px;
	background-color: #f1f4f6;
	color: #333333;
	font-size: 0.9em;
}
#tree ul li .parent {
	background-color: #f1f4f6;
	display: block;
	padding: 5px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	font-size: 0.8em;
	line-height: 1.5em;
}
#tree ul li .parent:hover, #tree ul li li .child:hover {
	background-color: #0054B3;
	color: #FFF;
}
#tree ul li li .child {
	background-color: #f1f4f6;
	display: block;
	margin-right: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	min-height: 186px;
	text-decoration: none;
	color: #333333;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#tree ul li .active, #tree ul li li .active {
	background-color: #0054B3;
	color: #FFF;
}
#tree .child strong {
	text-align: center;
	display: block;
	margin-bottom: 5px;
}
#tree ul li ul li ul li h4 {
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
#tree ul li ul li ul li h5 {
	font-size: 1em;
	margin-top: 5px;
	margin-bottom: 10px;
}
#tree ul ul ul ul {
	position:relative;
}
#tree li a {
	background-image: none;
}
#tree dl {
	margin: 0;
}
#tree dl dt .grandchild {
	color: #000;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 35px;
	padding-top: 2px;
	height: 23px;
	display: block;
	margin-bottom: 1em;
}
#tree dl dt .grandchild:hover {
	background-color: #0054B3;
	color: #FFF;
}
#tree dl dd {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 2em;
	margin-left: 0;
}
#tree ul li ul li ul li dl dd p {
	font-size: 0.89em;
	padding-bottom: 0.5em;
}
#tree ul li ul li ul li dl dd h5 {
	font-size: 0.9em;
	margin: 0;
}
#main1 .material a {
padding-left: 0px;
}










/*     RESPONSIVENESS    */











@media only screen and (max-width: 768px) {
	
	#tree ul, #tree ul ul {
 	   width: 100%;
	}
	
	#tree ul li {
	    width: 100%;
	    margin: 0 0 10px 0;
	}
	
	#tree ul li .parent,
	#tree ul li li .child {
		margin-right: 0;
	}
	
	#tree ul ul, #tree ul ul ul {
    	position: relative;
		left: auto;
		margin-top: 10px;
	}
	
	#tree ul li ul li {
 	   width: 100%;
	}
	
	#tree ul li li .child {
		min-height: 100px;
	}
	
	#tree ul ul ul {
		width: 100%;
	}
	
	#tree ul li ul li ul li {
		width: 94%;
		padding: 3%;
	}
	
	#tree dl dt .grandchild {
		min-height: 23px;
		height: auto;
		line-height: 19px;
	}
}












