/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
body {
  /* background-color: #edb779; */
}

/* Seitenkopf */
#kopf {
  background: #fff;
  overflow: hidden; /* auto */
}

#kopf_inhalt > a > img {
  margin-top: 15px;
}

.web-auswahl > a {
  background: #fff;
}

#siteNavigation > div {
  float: left;
  width: 100%;
}

#usermenu2 ul#oben > li.web-auswahl > a, #usermenu2 ul#oben > li.web-auswahl > a:visited {
  color: #002142;
  font-weight: bold;
}

#usermenu2 ul#oben li a:after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: none;
  margin: 5px 5px 5px 10px
}

#usermenu2 ul ul li a:after , #usermenu2 ul#oben li a.back:after {
  display: none !important;
  width: 0;
  height: 0;
  vertical-align: top;
  border: none;
  content: none;
  margin: 5px 5px 5px 10px
}

#usermenu2 ul#oben li.web-auswahl-liste a:after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #002142;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin: 5px 10px 5px 5px
}

#usermenu2 ul ul li.web-auswahl-liste a:after , #usermenu2 ul#oben li.web-auswahl-liste a.back:after {
  display: none !important;
  width: 0;
  height: 0;
  vertical-align: top;
  border: none;
  content: "";
  margin: 5px 5px 5px 10px
}

#fuss {
  /* background: #1E579A; /*  url(grau.png) repeat-x; /* Old browsers */
}

/*
#block-nice-menus-1 {
  float: right;
}
#block-nice-menus-1 > div > ul > li a {
  color: #fff;
}
#block-nice-menus-1 > div > ul > li, #block-nice-menus-1 > div > ul > li > ul > li {
  background-color: transparent;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: transparent none left center no-repeat;
}
ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: transparent none left center no-repeat;
}
ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li {
  border: none;
}
#fuss ul ul li {
    list-style-type: none;
    margin-bottom: 2px;
    margin-top: 2px;
}
#fussinnen ul {
  margin: 0;
}
*/

.extern li {
  border-width: 0;
  padding: 0 50px !important;
}

.extern li.first {
  padding: 0 50px 0 0 !important;
}

.extern li.last {
  padding: 0 0 0 50px !important;
}

div.menu-block-4 {
  display: table;
  background-color: white;
  padding: 5px !important;
  margin: 0 auto;
}

ul li.leaf {
  list-style-image: none;
}

.footerlistentry > a, .footerlistentry > a:visited, .footerlistentry1 > a, .footerlistentry1 > a:visited {
  text-transform: inherit;
}

#right div.answer {
  font-size: 0.8em;
}

#right ul {
  padding: 10px;
}
#right ul li,
#right ul li {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 5px 10px 5px 5px;
}
#right ul li a:link, #right ul li a:visited {
  padding: 0;
}
#right ul li a:before  {
  content: none;
}

.post-item-panel {
  width: 100%;
}

#content section article footer ul {
  padding: 5px;
  font-size: 0.9em;
  border-bottom: 2px solid #eee;
}
#content section article footer ul li {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 5px 10px 5px 5px;
}
#content section article footer ul li a:link,
#content section article footer ul li a:visited {
  padding: 0;
}

.fa span, ul.pager li {
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

#twitter {
  position: relative;
  height: 520px;
}
#twitter h2, #twitter p {
  /*margin-left: -20px;*/
}
#twitter-follow {
  position: absolute;
  right: 20px;
  top: 70px;
}
#twitter-follow div {
  color: #1E5799;
  padding: 2px;
  background-image: url('../img/twitter1.png');
  background-repeat: no-repeat;
  background-position: 4px 6px;
}
#twitter-inner {
  position: absolute;
  left: 20px;
  top: 104px;
}

#twitter-inner div.view-tweets {
  clear: both;
  max-height: 344px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 15px 0 0;
}
#twitter-inner div.view-tweets ul.tweet-list {
  max-width: 242px;
}
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item {
  clear: both;
  display: block;
}
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-image,
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-time,
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-name {
  /*display: none;*/
}
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-image {
  float: left;
  width: 58px;
}
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-time {
  float: right;
  margin: 5px 0 0 0;
}
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-name {
  width: 130px;
  float: left;
  margin: 5px 0 0 0;
}
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-name a {
  font-weight: bold;
}
#twitter-inner div.view-tweets ul.tweet-list li.tweet-item span.tweet-text {
  float: left;
  width: 184px;
  margin: 0 0 15px 0;
}

#suche-oben {
  padding: 40px 8px 5px;
  text-align: center;
}
#suche-oben.front {
  padding: 50px 8px;
}

#suche-oben #search-container {
  display: inline-block;
  text-align: left;
}

#suche-oben #search-container > #search-box {
  width: 473px;
  height: 40px;
  margin: 0 0 0 152px;
  border-radius: 5px;
  background: transparent;
}
#suche-oben.front #search-container > #search-box {
  margin: 0 auto;
}

#suche-oben #search-container > #search-box > #search-controls-container {
  float: left;
  width: 379px;
  margin: 0 2px 0 0;
  border-radius: 5px;
  background: transparent;
}
#suche-oben #search-container > #search-box > #search-controls-container > .input-container {
  border-radius:5px;background:#fff;
}
#suche-oben #search-container > #search-box > #search-controls-container > .input-container > input {
  width: 363px;
  height: 22px;
  margin: 2px;
  padding: 7px;
  border: none;
}

#suche-oben #search-container > #search-box > #search-submit-container {
  float: left;
  padding: 1px;
  border-radius: 5px;
  background: #fff;
}
#suche-oben #search-container > #search-box > #search-submit-container > button {
  width: 90px;
  height: 38px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background: #009ce1;
}
#suche-oben #search-container > #search-box > #search-submit-container > button > img {
  margin: 3px 0 0 0;
}

#suche-oben .advanced-search {
  margin-bottom: 10px;
}

#suche-oben #advanced-search-container {
  width: 333px;
  overflow: hidden;
  margin: 0 0 0 152px;
  padding: 9px 9px 12px;
  float: left;
}
#suche-oben.front #advanced-search-container {
  margin: 0;
}

#suche-oben form div.advanced-search a.current {
  background-position: 0px 0px;
}
#suche-oben form div.advanced-search div.input-label {
  margin: 0;
  color: #E1F5FD;
  font-size: 0.8em;
  height: 16px;
}
#suche-oben form div.advanced-search div.select-container {
  display: inline-block;
}
#suche-oben form div.advanced-search select {
  border: none;
  padding: 0;
  margin: 0;
  width: 120px;
}

#suche-oben form div.advanced-search div.radio-container {
  display: inline;
  font-size: 0.6em;
  font-weight: bold;
  color: #e1f5fd;
}
#suche-oben form div.advanced-search div.radio-container input {
  border: none;
  background: transparent;
  margin: 1px;
  padding: 0;
  width: 12px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

#right aside.span3 label {
  font-size: 0.8em;
}
#right aside.span3 form ul {
  margin-top: 0px;
  background: transparent;
}

#right .region-sidebar-second > *:first-child h1,
#right .region-sidebar-second > *:first-child h2,
#right .region-sidebar-second > *:first-child h3,
#right .region-sidebar-second > *:first-child h4,
#right .region-sidebar-second > *:first-child h5,
#right .region-sidebar-second > *:first-child h6 {
  margin-top: 0;
}

.content {
  padding: 0;
}

figure.custom-field-image,
#content figure.custom-field-image,
#right figure.custom-field-image {
  float: right;
  margin: 0 0 10px 10px !important;
  width: auto;
}

figure.custom-field-image > img,
#content figure.custom-field-image > img,
#right figure.custom-field-image > img {
  margin: 0;
}

figure.custom-field-image > figcaption,
#content figure.custom-field-image > figcaption,
#right figure.custom-field-image > figcaption {
  margin: 5px 0 0 0;
  text-align: left;
  font-size: 80%;
  color: #333;
}

#main1 a:not([href]):not([onclick]):hover,
#main1 a:not([href]):not([onclick]):focus,
#main2 a:not([href]):not([onclick]):hover,
#main2 a:not([href]):not([onclick]):focus {
  background: none !important;
  text-decoration: none !important;
  color: #333 !important;
}

/**
 * Center socialshareprivacy bar.
 */
.ssp_wrapper {
  width: 430px;
  margin: 0 auto;
}
body.front .ssp_wrapper {
  width: 500px;
}

/**
 * Fix colors on hovering social share privacy links.
 * (Destroyed by _style.css)
 */
.ssp_wrapper a {
  /*background: inherit !important;*/
  color: inherit !important;
}

/**
 * Fix width of social media privacy settings checkboxes.
 * (Destroyed by _style.css)
 */
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset input {
  width: auto;
}

/**
 * Fix socialshareprivacy container width to enable centered alignment.
 */
/*.social_share_privacy_area {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 600px;
}*/

/**
 * Fix image paths.
 */

#usermenu2 ul#oben:before,
#usermenu2 ul#oben:after {
  background-image: url('../img/topmenu_bg.png');
}

.linkbutton,
.linkbutton:hover,
.boxlinkbutton:hover,
a.boxlinkbutton:link,
a.boxlinkbutton:visited {
  background-image: url('../img/arrow2.png');
}

.bar,
a.linkbtn,
table.lm a {
  background-image: url('../img/rechtsblau.jpg');
}

.press {
  background-image: url('../img/press.png');
}

#fuss {
  background-image: none;
}

#fuss ul ul a,
#fuss ul ul a:visited {
  background-image: url('../img/miniarrow.png');
}

#fuss .list h3 {
  background-image: url('../img/leiste.jpg');
}

#fuss .list h3.current {
  background-image: url('../img/leiste2.jpg');
}

/**
 * Fix font-size of main menu level1 to avoid the linebreak.
 */
#usermenu2 ul#oben > li > a,
#usermenu2 ul#oben > li > a:visited {
  font-size: 0.78em;
}

.search-box-filter .select2-container {
  vertical-align: top;
}

.accordioncontent span {
  color: #000;
  background: #c9cbcd !important;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  display: inline-block;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.ui-widget-content.ui-autocomplete {
  background: #f2f5f7;
}

/**
 * Remove padding, inherited through `.searchresult-header span`.
 */
.total-count {
  padding-left: 0 !important;
}

/**
 * Fix content container's overflow value, to avoid cutting the
 * socialmediaprivacy settings.
 */

#filter-menu {
  left: 0;
}
.ui-datepicker tr th {
  background: #dfe7f1;
}
.ui-datepicker-calendar {
  line-height: 0.8em;
}

#content {
  overflow: visible;
}

/**
 * Fix der Spalten- bzw. Kastenbreite auf der Startseite
 */

._50 {
  width: 33.33%;
}

._100 {
  width: 66.66%;
}

/**
 * Fix select2 filters for logged in users/admins.
 */
html body.admin-menu {
  position: absolute;
  top: 29px !important;
  margin: 0 !important;
}

/**
 * Overrides für responsive Ansicht
 */
@media (max-width: 768px) {

  .kasten {
    width: 100%;
  }

  .line {
    padding: 10px;
  }

  #herausgeber > a {
    float: left;
    display: block;
    display: inline-block;
    line-height: 72px;
    margin: 0 20px 20px 0;
  }
  #herausgeber > a:nth-of-type(2n-1) {
    float: left;
  }

  .ssp_wrapper {
    width: 100% !important;
  }

  .ssp_wrapper ul.social_share_privacy_area {
    height: auto !important;
  }

  .ssp_wrapper ul.social_share_privacy_area li {
    float:none !important;
    display: block !important;
    height: 36px !important;
    width: 200px !important;
    margin: 0px auto !important;
  }

  #twitter-inner {
    position: relative;
    top:0px;
    left: 0px;
    width: 100%;
  }

  #twitter-inner div.view-tweets ul.tweet-list {
    width: 100%;
  }

}

@media (min-width: 768px) {

  li.footerlistentry {
    width: 14.6%; /* currently 6 columns; 100% / 6 = 16.67% - 2% margin */
  }

}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

#main2, #pm_kontext {
  max-width:100%;
}

.cc-icon {
  text-align: left;
}
.ressource_type {
  margin-bottom: 0 !important;
  padding-bottom: 5px !important;
}

select.search-select {
  width: 375px;
  padding: 6px 5px;
  margin-top: 4px;
  border: 1px solid #589fe1;
  border-radius: 5px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
}
select.search-select > option {
  padding: 3px 0;
  color: #ffffff;
  background: #2476c2;
}
.search-school-location-info {
  display: inline-block;
  padding: 7px 5px 5px 5px;
  font-size: 24px;
  color: #ececec;
}

.searchterms.location a:after {
  content: "\f00d" !important;
  font-family: "FontAwesome";
  padding-left: 10px;
  font-weight: normal;
}
.searchterms.location a.location-filter:after {
  content: "\f040" !important;
  font-family: "FontAwesome";
  padding-left: 10px;
  font-weight: normal;
}

.modal-title,
.modal-body {
  color: #000000;
}

i.fa.dead-link-success {
  float: left;
  margin-right: 8px;
  font-size: 36px;
  color: darkgreen;
}

.tagbox_comments ul > li {
  display: block !important;
  padding: 8px 0;
  border-top: 1px solid #c4c4c4;
}
#modal-choose-location .modal-body i {
  float: left;
  margin-top: 5px;
  font-size: 6px !important;
  margin-right: 9px !important;
  color: #505050 !important;
}
#modal-choose-location .modal-body a {
  color: #505050 !important;
}
