// $Id:$

/**
 * @file
 * Theme spedific overrides for the shadowbox.js extension/library.
 */

html {}

#sb-container {
  z-index: 1001;
}

#sb-title #sb-title-inner {
  padding-left: 55px;
  font-weight: bold;
  font-size: 1.2em;
}

#sb-wrapper-inner {
  border: none;
}

#sb-body, #sb-loading {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: inset 0 0 10px 0 #333;
  -moz-border-radius: 15px;
  -moz-box-shadow: inset 0 0 10px 0 #333;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: inset 0 0 10px 0 #333;
}

#sb-loading-inner, div.sb-message {
  color: #333;
}

#sb-loading-inner span {
  background: url("../img/ajax-loader.gif") no-repeat scroll 0 0 transparent;
  padding-left: 42px;
  line-height: 32px;
}

#sb-player {
  height: auto;
  margin: 30px 40px 0 40px;
  background-color: inherit;
}
